[package]
name = "urdf-rs"
version = "0.6.2"
authors = ["Takashi Ogura <t.ogura@gmail.com>"]
edition = "2018"
description = "URDF parser using serde-xml-rs"
license = "Apache-2.0"
keywords = ["robotics", "robot", "ros", "urdf"]
categories = ["data-structures", "parsing"]
repository = "https://github.com/openrr/urdf-rs"

# Note: serde is public dependency.
[dependencies]
once_cell = "1"
regex = "1.4.2"
RustyXML = "0.3.0"
serde = { version = "1.0.118", features = ["derive"] }
serde-xml-rs = "0.5.0"
thiserror = "1.0.7"

[dev-dependencies]
assert_approx_eq = "1"
